In [ ]:
##import BeautifulSoup
from bs4 import BeautifulSoup
##import requests
import requests

In [ ]:
## add url for data
url = 'https://www.skysports.com/premier-league-table/2022'
page = requests.get(url)
soup =BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [ ]:
#create a varible for your table data
table = soup.find('table')

In [ ]:
#create a variable for your table headings
table_heading = table.find_all('th')

In [ ]:
#loop through the table headings to create a list
headings = [heading.text for heading in table_heading]
print(headings)

['#', 'Team', 'Pl', 'W', 'D', 'L', 'F', 'A', 'GD', 'Pts', 'Last 6']

In [ ]:
#delete any unwaned headings using indexing
del headings[-1]

In [ ]:
print(headings)

['#', 'Team', 'Pl', 'W', 'D', 'L', 'F', 'A', 'GD', 'Pts']

In [ ]:
#import Pandas
import pandas as pd

In [ ]:
#create your dataframe and add the column headings
df = pd.DataFrame(columns=headings)
df

Empty DataFrame
Columns: [#, Team, Pl, W, D, L, F, A, GD, Pts]
Index: []

In [ ]:
#create a variable for the content of the table
table_body = soup.find_all('tr')
print(table_body)

In [ ]:
#loop through the contents referencing the html tags it is wrapped in and the using the lenght of the dataframe to add contents to dataframe
for row in table_body[1:]:
  row_data = row.find_all('td')
  team_data = [data.text.strip() for data in row_data[:10]]
  length = len(df)
  df.loc[length] = team_data
  print(team_data)

['1', 'Manchester City', '38', '28', '5', '5', '94', '33', '61', '89']
['2', 'Arsenal', '38', '26', '6', '6', '88', '43', '45', '84']
['3', 'Manchester United', '38', '23', '6', '9', '58', '43', '15', '75']
['4', 'Newcastle United', '38', '19', '14', '5', '68', '33', '35', '71']
['5', 'Liverpool', '38', '19', '10', '9', '75', '47', '28', '67']
['6', 'Brighton and Hove Albion', '38', '18', '8', '12', '72', '53', '19', '62']
['7', 'Aston Villa', '38', '18', '7', '13', '51', '46', '5', '61']
['8', 'Tottenham Hotspur', '38', '18', '6', '14', '70', '63', '7', '60']
['9', 'Brentford', '38', '15', '14', '9', '58', '46', '12', '59']
['10', 'Fulham', '38', '15', '7', '16', '55', '53', '2', '52']
['11', 'Crystal Palace', '38', '11', '12', '15', '40', '49', '-9', '45']
['12', 'Chelsea', '38', '11', '11', '16', '38', '47', '-9', '44']
['13', 'Wolverhampton Wanderers', '38', '11', '8', '19', '31', '58', '-27', '41']
['14', 'West Ham United', '38', '11', '7', '20', '42', '55', '-13', '40']
['15', 'Bournemouth', '38', '11', '6', '21', '37', '71', '-34', '39']
['16', 'Nottingham Forest', '38', '9', '11', '18', '38', '68', '-30', '38']
['17', 'Everton', '38', '8', '12', '18', '34', '57', '-23', '36']
['18', 'Leicester City', '38', '9', '7', '22', '51', '68', '-17', '34']
['19', 'Leeds United', '38', '7', '10', '21', '48', '78', '-30', '31']
['20', 'Southampton', '38', '6', '7', '25', '36', '73', '-37', '25']

In [ ]:
#call dataframe to view table
df

     #                      Team  Pl   W   D   L   F   A   GD Pts
0    1           Manchester City  38  28   5   5  94  33   61  89
1    2                   Arsenal  38  26   6   6  88  43   45  84
2    3         Manchester United  38  23   6   9  58  43   15  75
3    4          Newcastle United  38  19  14   5  68  33   35  71
4    5                 Liverpool  38  19  10   9  75  47   28  67
5    6  Brighton and Hove Albion  38  18   8  12  72  53   19  62
6    7               Aston Villa  38  18   7  13  51  46    5  61
7    8         Tottenham Hotspur  38  18   6  14  70  63    7  60
8    9                 Brentford  38  15  14   9  58  46   12  59
9   10                    Fulham  38  15   7  16  55  53    2  52
10  11            Crystal Palace  38  11  12  15  40  49   -9  45
11  12                   Chelsea  38  11  11  16  38  47   -9  44
12  13   Wolverhampton Wanderers  38  11   8  19  31  58  -27  41
13  14           West Ham United  38  11   7  20  42  55  -13  40
14  15               Bournemouth  38  11   6  21  37  71  -34  39
15  16         Nottingham Forest  38   9  11  18  38  68  -30  38
16  17                   Everton  38   8  12  18  34  57  -23  36
17  18            Leicester City  38   9   7  22  51  68  -17  34
18  19              Leeds United  38   7  10  21  48  78  -30  31
19  20               Southampton  38   6   7  25  36  73  -37  25